In [2]:
!pip install bs4
!pip install requests

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: beautifulsoup4 in c:\users\rooster\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\rooster\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1273 sha256=71db093d92dded1cdd468eaad0221a631be7743d5b241153e74f90d6c4edeb87
  Stored in directory: c:\users\rooster\appdata\local\pip\cache\wheels\75\78\21\68b124549c9bdc94f822c02fb9aa3578a669843f9767776bca
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1
Requirement already satisfied: requests in c:\users\rooster\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rooster\anaconda3\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\rooster\anaconda3\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\rooster\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\rooster\anaconda3\lib\site-packages (from requests) (4.0.0)

In [8]:
from bs4 import BeautifulSoup
import requests

**Question 1**

In [9]:
wikiPage = requests.get("https://en.wikipedia.org/wiki/Main_Page")

In [10]:
wikiPage

In [13]:
wikiPageSt = BeautifulSoup(wikiPage.content)

In [37]:
headertagsh2 = wikiPageSt.find_all('h2')
headertagsh3 = wikiPageSt.find_all('h3')

In [ ]:
headertagsh2
headertagsh3

**Question 2**

In [43]:
imdb = requests.get("https://www.imdb.com/chart/top/?ref_=nv_mv_250")

In [44]:
imdb

In [46]:
imdbc = BeautifulSoup(imdb.content)

In [48]:
imdbcname = imdbc.find_all('td',class_="titleColumn",limit=100)

In [51]:
len(imdbcname)

100

In [64]:
imdbcnamel = []
for i in imdbcname:
    for j in i.find_all("a"):
        imdbcnamel.append(j.text.strip())
       
    
imdbcnamel

['The Shawshank Redemption',
 'The Godfather',
 'The Godfather: Part II',
 'The Dark Knight',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'Il buono, il brutto, il cattivo',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Fight Club',
 'Forrest Gump',
 'Inception',
 'The Lord of the Rings: The Two Towers',
 'Star Wars: Episode V - The Empire Strikes Back',
 'The Matrix',
 'Goodfellas',
 "One Flew Over the Cuckoo's Nest",
 'Shichinin no samurai',
 'Se7en',
 'Cidade de Deus',
 'The Silence of the Lambs',
 'La vita è bella',
 "It's a Wonderful Life",
 'Star Wars',
 'Saving Private Ryan',
 'Sen to Chihiro no kamikakushi',
 'Interstellar',
 'The Green Mile',
 'Gisaengchung',
 'Léon',
 'Seppuku',
 'The Usual Suspects',
 'The Pianist',
 'Back to the Future',
 'Terminator 2: Judgment Day',
 'Modern Times',
 'Psycho',
 'The Lion King',
 'American History X',
 'City Lights',
 'Hotaru no haka',
 'Gladiator',
 'Whiplash',
 'The Departed',
 'The Intouchables',
 'The Prestige',
 'Casablanca',
 'Once Upon a Time in the West',
 'Rear Window',
 'Nuovo Cinema Paradiso',
 'Alien',
 'Apocalypse Now',
 'Memento',
 'Raiders of the Lost Ark',
 'The Great Dictator',
 'The Lives of Others',
 'Django Unchained',
 'Paths of Glory',
 'Sunset Blvd.',
 'WALL·E',
 'The Shining',
 'Avengers: Infinity War',
 'Witness for the Prosecution',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Joker',
 'Spider-Man: Into the Spider-Verse',
 'Oldeuboi',
 'Mononoke-hime',
 'Hamilton',
 'Kimi no na wa.',
 'Once Upon a Time in America',
 'The Dark Knight Rises',
 'Aliens',
 'Coco',
 'Das Boot',
 'Capharnaüm',
 'Avengers: Endgame',
 'Tengoku to jigoku',
 'American Beauty',
 'Toy Story',
 '3 Idiots',
 'Braveheart',
 'Amadeus',
 'Pather Panchali',
 'Inglourious Basterds',
 'Good Will Hunting',
 'Star Wars: Episode VI - Return of the Jedi',
 '2001: A Space Odyssey',
 'Reservoir Dogs',
 'Taare Zameen Par',
 'M - Eine Stadt sucht einen Mörder',
 'Vertigo',
 'Citizen Kane',
 'Jagten',
 'Idi i smotri',
 'Requiem for a Dream',
 "Singin' in the Rain",
 'North by Northwest',
 'Eternal Sunshine of the Spotless Mind']

In [67]:
imdbyor = []
for i in imdbcname:
    for j in i.find_all("span"):
        imdbyor.append(j.text.strip())
        
imdbyor

['(1994)',
 '(1972)',
 '(1974)',
 '(2008)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(1966)',
 '(2001)',
 '(1999)',
 '(1994)',
 '(2010)',
 '(2002)',
 '(1980)',
 '(1999)',
 '(1990)',
 '(1975)',
 '(1954)',
 '(1995)',
 '(2002)',
 '(1991)',
 '(1997)',
 '(1946)',
 '(1977)',
 '(1998)',
 '(2001)',
 '(2014)',
 '(1999)',
 '(2019)',
 '(1994)',
 '(1962)',
 '(1995)',
 '(2002)',
 '(1985)',
 '(1991)',
 '(1936)',
 '(1960)',
 '(1994)',
 '(1998)',
 '(1931)',
 '(1988)',
 '(2000)',
 '(2014)',
 '(2006)',
 '(2011)',
 '(2006)',
 '(1942)',
 '(1968)',
 '(1954)',
 '(1988)',
 '(1979)',
 '(1979)',
 '(2000)',
 '(1981)',
 '(1940)',
 '(2006)',
 '(2012)',
 '(1957)',
 '(1950)',
 '(2008)',
 '(1980)',
 '(2018)',
 '(1957)',
 '(1964)',
 '(2019)',
 '(2018)',
 '(2003)',
 '(1997)',
 '(2020)',
 '(2016)',
 '(1984)',
 '(2012)',
 '(1986)',
 '(2017)',
 '(1981)',
 '(2018)',
 '(2019)',
 '(1963)',
 '(1999)',
 '(1995)',
 '(2009)',
 '(1995)',
 '(1984)',
 '(1955)',
 '(2009)',
 '(1997)',
 '(1983)',
 '(1968)',
 '(1992)',
 '(2007)',
 '(1931)',
 '(1958)',
 '(1941)',
 '(2012)',
 '(1985)',
 '(2000)',
 '(1952)',
 '(1959)',
 '(2004)']

In [68]:
imdbr = imdbc.find_all('td', class_="ratingColumn imdbRating", limit=100)

In [69]:
len(imdbr)

100

In [71]:
imdbrAll = []
for i in imdbr:
    imdbrAll.append(i.text.strip())
    
len(imdbrAll)

100

In [72]:
import pandas as pd

In [74]:
data = pd.DataFrame({})
data['Name'] = imdbcnamel

In [75]:
data['IMDB rating'] = imdbrAll
data['Year of release'] = imdbyor

In [78]:
data

                                     Name IMDB rating Year of release
0                The Shawshank Redemption         9.2          (1994)
1                           The Godfather         9.1          (1972)
2                  The Godfather: Part II         9.0          (1974)
3                         The Dark Knight         9.0          (2008)
4                            12 Angry Men         8.9          (1957)
..                                    ...         ...             ...
95                           Idi i smotri         8.3          (1985)
96                    Requiem for a Dream         8.3          (2000)
97                    Singin' in the Rain         8.3          (1952)
98                     North by Northwest         8.3          (1959)
99  Eternal Sunshine of the Spotless Mind         8.3          (2004)

[100 rows x 3 columns]

**Question 3**

In [79]:
imdb = requests.get("https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=2e9dfa9b-3e4d-4d39-acd2-8af11f252a59&pf_rd_r=PY2WSYRZQK04R8CQY9PZ&pf_rd_s=right-5&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_india_tr_rhs_1")

In [80]:
imdb

In [81]:
imdbc = BeautifulSoup(imdb.content)
imdbcname = imdbc.find_all('td',class_="titleColumn",limit=100)
len(imdbcname)
imdbcnamel = []
for i in imdbcname:
    for j in i.find_all("a"):
        imdbcnamel.append(j.text.strip())
       
    
imdbcnamel   

imdbyor = []
for i in imdbcname:
    for j in i.find_all("span"):
        imdbyor.append(j.text.strip())
        
imdbyor    

imdbr = imdbc.find_all('td', class_="ratingColumn imdbRating", limit=100)
len(imdbr)

imdbrAll = []
for i in imdbr:
    imdbrAll.append(i.text.strip())
    
len(imdbrAll) 
data = pd.DataFrame({})
data['Name'] = imdbcnamel

data['IMDB rating'] = imdbrAll
data['Year of release'] = imdbyor

data

                                 Name IMDB rating Year of release
0                             Nayakan         8.5          (1987)
1                   Pariyerum Perumal         8.5          (2018)
2                          Anbe Sivam         8.5          (2003)
3                   C/o Kancharapalem         8.5          (2018)
4                             Golmaal         8.5          (1979)
..                                ...         ...             ...
95                    Andaz Apna Apna         8.1          (1994)
96  Lagaan: Once Upon a Time in India         8.1          (2001)
97                            Kahaani         8.1          (2012)
98           Uri: The Surgical Strike         8.1          (2018)
99                                 PK         8.1          (2014)

[100 rows x 3 columns]

**Question 4**

In [82]:
books = requests.get("https://bookpage.com/")

In [83]:
books

In [84]:
book = BeautifulSoup(books.content)

In [114]:
mainbooks = book.find_all('div',class_="content",limit=5)

In [116]:
name = []
author = []
genre = []
review = []

for sbooks in mainbooks:
    for n in sbooks.find_all('h4',class_="italic"):
        name.append(n.text.strip())
        
         
name

['Lesa Cline-Ransome',
 'Ill-advised and irresistible',
 'Being Clem',
 '★ How to Find Your Way in the Dark',
 'Hold Fast Through the Fire']

In [124]:
author =[]
for sbooks in mainbooks:
    for n in sbooks.find_all('p',class_="sans bold"):
        author.append(n.text.strip().replace("Review by ","").replace("Interview by ","").replace("Feature by ","") )
        
author

['Jill Ratzan',
 'Elizabeth Mazer',
 'Jill Ratzan',
 'Alice Cary',
 'Laura Hubbard']

In [125]:
genre=[]
for sbooks in mainbooks:
    for n in sbooks.find_all('p',class_="genre-links hidden-phone", limit=5):
        genre.append(n.text.replace("\n","")) 
        
genre

["Children's / Middle Grade",
 'Romance / Historical Romance',
 "Children's / Middle Grade",
 'Fiction / Coming of Age',
 'Science Fiction & Fantasy / Science Fiction']

In [127]:
Booksdata = pd.DataFrame({})
Booksdata["book name"] = name
Booksdata["author name"]= author
Booksdata["genre"] = genre

In [128]:
review=[]
for sbooks in mainbooks:
    for n in sbooks.find_all('p',class_="excerpt", limit=5):
        review.append(n.text.replace("\n","")) 
        
review

['Award-winning children’s author Lesa Cline-Ransome discusses her new middle grade novel, Being Clem, a poignant work of historical fiction.',
 'Three convention-defying heroines make these Regency romances totally irresistible.',
 'Clem must decide whether to go along with a bully or stand up for the new boy in the poignant final book of the Finding Langston trilogy.',
 'The ending of How to Find Your Way in the Dark is nothing short of brilliant, making a powerful statement about the need to fully address antisemitism.',
 'This entertaining installment in the NeoG series is a great choice for readers looking for military drama, evocative writing and espionage.']

In [129]:
Booksdata["review"] = review

In [130]:
Booksdata

,book name,author name,genre,review
0,Lesa Cline-Ransome,Jill Ratzan,Children's / Middle Grade,Award-winning children’s author Lesa Cline-Ran...
1,Ill-advised and irresistible,Elizabeth Mazer,Romance / Historical Romance,Three convention-defying heroines make these R...
2,Being Clem,Jill Ratzan,Children's / Middle Grade,Clem must decide whether to go along with a bu...
3,★ How to Find Your Way in the Dark,Alice Cary,Fiction / Coming of Age,The ending of How to Find Your Way in the Dark...
4,Hold Fast Through the Fire,Laura Hubbard,Science Fiction & Fantasy / Science Fiction,This entertaining installment in the NeoG seri...

**Question 5_1**

In [166]:
cricket = requests.get("https://www.icc-cricket.com/")
cricket

In [167]:
cric = BeautifulSoup(cricket.content)

In [176]:
firstdata = cric.find('span', class_="u-hide-phablet")
firstdata

In [140]:
country = []
for i in maindata:
    for n in i.find_all("span",class_="u-hide-phablet"):
        country.append(n.text.strip())
        
country

[]