#### Importing necessary library

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

#### Question 1

In [2]:
## getting the driver and saving it into element
driver = webdriver.Chrome(r'C:\Users\LENOVO\Documents\Post Graduation\chromedriver.exe')
driver

In [3]:
## opening the link
url = 'https://www.naukri.com/'
driver.get(url)

####  Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

In [4]:
bar1 = driver.find_element_by_id("qsb-keyword-sugg")
bar1.send_keys('Data Analyst')
bar2 = driver.find_element_by_id('qsb-location-sugg')
bar2.send_keys('Bangalore')

#### Clicking on Search

In [5]:
clk = driver.find_element_by_xpath('//div[@class="search-btn"]/button')
clk.click()

#### Scraping data from the website

In [6]:
time.sleep(5)
job_title = []
job_location = []
company_name = []
experience_required =[]

title = driver.find_elements_by_xpath('//div[@class="info fleft"]/a')

for i in title:
    job_title.append(i.text)
job_title

location = driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16"]')
job_info = []
for i in location:
    job_info.append(i.text)

for i in range(0,len(job_info),3):
    experience_required.append(job_info[i])
    job_location.append(job_info[i+2])

company = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

for i in company:
    company_name.append(i.text)

#### Creating a Data Frame

In [7]:
data_analyst = pd.DataFrame({})
data_analyst['job_title'] = job_title[0:10]
data_analyst['job_location'] = job_location[0:10]
data_analyst['company_name'] = company_name[0:10]
data_analyst['experience_required'] = experience_required[0:10]
data_analyst

,job_title,job_location,company_name,experience_required
0,Senior Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,4-5 Yrs
1,Data analysts,Bangalore/Bengaluru,IBM India Pvt. Limited,3-5 Yrs
2,Data analysts,Bengaluru/Bangalore,IBM India Pvt. Limited,5-6 Yrs
3,Data Analyst,Bangalore/Bengaluru,Zilingo.com,0-4 Yrs
4,Data Analyst with Replicon Software,Bangalore/Bengaluru,Replicon Software (India) Pvt Ltd,2-4 Yrs
5,Consultant-Data Analyst -Bangalore,Bangalore/Bengaluru,Innovsource Services Private Limited,2-3 Yrs
6,Data Analyst / Sr. Data Analyst - SQL,Bangalore/Bengaluru,Naukri Premium - Employer Services,2-5 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru,Publicis Groupe,5-9 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Publicis Groupe,6-8 Yrs
9,Senior Data Analyst,Bangalore/Bengaluru,Publicis Groupe,1-7 Yrs

#### Question 2

In [21]:
## getting the driver and saving it into element
driver = webdriver.Chrome(r'C:\Users\LENOVO\Documents\Post Graduation\chromedriver.exe')
driver

In [22]:
## Opening the website
url ='https://www.naukri.com/'
driver.get(url)

#### Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field

In [23]:
bar1 = driver.find_element_by_id('qsb-keyword-sugg')
bar1.send_keys('Data Scientist')
bar2 = driver.find_element_by_id('qsb-location-sugg')
bar2.send_keys('Bangalore')

#### CLick on Search

In [24]:
clk = driver.find_element_by_xpath('//div[@class="search-btn"]')
clk.click()

#### Scraping Data

In [25]:
time.sleep(8)
title= []
location = []
company = []
job_description = []
job_loc = []

t1 = driver.find_elements_by_xpath('//div[@class="info fleft"]/a')
for i in t1:
    title.append(i.text)

In [26]:

t2 = driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16"]')
for i in t2:
    location.append(i.text)

for i in range(2,len(location),3):
    job_loc.append(location[i])
job_loc

['Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru, Vadodara',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [27]:
## getting links
time.sleep(3)
links = []
l1  = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

for i in l1:
    links.append(i.get_attribute('href'))

In [28]:
time.sleep(5)
l4 = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

for i in l4:
    company.append(i.text)
company

['Fractal Analytics',
 'Nielsen',
 'Wrackle Technologies Pvt Ltd',
 'Roppen Transportation Services Private Limited',
 'NielsenIQ',
 'Gojek Tech',
 'GO-JEK India',
 'Publicis Groupe',
 'Baker Hughes Incorporated',
 'AIRBNB GLOBAL CAPABILITY CENTER PRIVATE LIMITED',
 'Lendingkart Finance Limited',
 'Wrackle Technologies Pvt Ltd',
 'Fidius advisory',
 '24/7 Customer',
 'Philips India Limited',
 'Philips India Limited',
 'Mavenir',
 'HEAL Software Inc',
 'Bayer',
 'Publicis Groupe']

In [29]:


## Getting description data from links
for i in links:
    driver.get(i)
    desc = driver.find_elements_by_xpath('//div[@class="dang-inner-html"]')
    time.sleep(3)
    for j in desc:
        job_description.append(j.text.replace('\n',' '))
        time.sleep(3)
len(job_description)

20

In [30]:
print(len(company),len(job_description),len(job_loc),len(title))

20 20 20 20

#### Creating a Data Frame

In [31]:
Job_nauk = pd.DataFrame({})
Job_nauk['job_title'] = title[:10]
Job_nauk['job_location'] = job_loc[:10]
Job_nauk['company_name'] = company[:10]
Job_nauk['job_description'] = job_description [:10]
Job_nauk

,job_title,job_location,company_name,job_description
0,Senior Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,The Artificial Intelligence and Machine Learni...
1,Senior Data Scientist,"Chennai, Bangalore/Bengaluru, Vadodara",Nielsen,ABOUT THIS JOB NielsenIQ Advanced Analytics te...
2,Lead Data Scientist - Machine Learning/ Data M...,Bangalore/Bengaluru,Wrackle Technologies Pvt Ltd,Roles and Responsibilities Requirements : - 6...
3,Senior Data Scientist,Bangalore/Bengaluru,Roppen Transportation Services Private Limited,Our Cause: Rapido is Indias largest bike taxi ...
4,Sr Data Scientist,Bangalore/Bengaluru,NielsenIQ,Roles Responsibilities : Understand business i...
5,Senior Data Scientist,Bangalore/Bengaluru,Gojek Tech,"As our Senior Data Scientist, youll be an inte..."
6,Senior Data Scientist,Bangalore/Bengaluru,GO-JEK India,"As our Senior Data Scientist, youll be an inte..."
7,Senior Data Scientist,Bangalore/Bengaluru,Publicis Groupe,Epsilon India team is looking for a talented t...
8,Senior Data Scientist,Bangalore/Bengaluru,Baker Hughes Incorporated,"As a Sr Data Scientist, you will be responsibl..."
9,"Sr Data Scientist, Payments",Bangalore/Bengaluru,AIRBNB GLOBAL CAPABILITY CENTER PRIVATE LIMITED,"The Challenge Be a thought leader, partner wit..."

#### Question 3

In [33]:
driver = webdriver.Chrome(r'C:\Users\LENOVO\Documents\Post Graduation\chromedriver.exe')

In [34]:
url = 'https://www.naukri.com/'
driver.get(url)

#### Entering keyword and searching

In [36]:
key1 = driver.find_element_by_id('qsb-keyword-sugg')
key1.send_keys('Data Scientist')
clk = driver.find_element_by_xpath('//div[@class="search-btn"]')
clk.click()

#### Filtering After Search

In [37]:
filt = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]')
filt.click()

In [38]:
filt2 = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]/label/p')
filt2.click()

#### Scraping Data

In [40]:
job_title = []
job_location = []
company_name = []
experience_required = []

title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in title:
    job_title.append(i.text)
job_title

time.sleep(3)

['Data Scientist / Data Analyst -Business Analyst',
 'Data analytics / Data scientist intern (work from Home)',
 'Data Scientist - Machine Learning/ NLP',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC OSC',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Machine Learning/NLP',
 'Data Scientist - Machine Learning/NLP',
 'Data Engineers /Data Scientist - CES IT LTD - CMMI LVL 5',
 'Chaayos is Looking For Data Scientist',
 'Data Scientist -Delhi',
 'Data Scientist - Text NLP | Noida',
 'We are hiring- Data Scientist +Python- Noida',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Associate Data Scientist',
 'Associate Data Scientist',
 'Data Scientist']

In [41]:
loc = driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16"]')
for i in loc:
    job_location.append(i.text)
job_location

['0-3 Yrs',
 '3,50,000 - 4,50,000 PA.',
 'Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 '0-5 Yrs',
 '2,00,000 - 3,00,000 PA.',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 '2-6 Yrs',
 'Not disclosed',
 'Gurgaon/Gurugram',
 '0-0 Yrs',
 '2,25,000 - 4,75,000 PA.',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 '3-7 Yrs',
 'Not disclosed',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 '3-7 Yrs',
 'Not disclosed',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 '1-3 Yrs',
 'Not disclosed',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, New Delhi, Lucknow, Agra, Gurgaon/Gurugram, Rajkot, Bangalore/Bengaluru',
 '2-6 Yrs',
 'Not disclosed',
 'Gurgaon/Gurugram',
 '2-4 Yrs',
 'Not disclosed',
 'Gurgaon/Gurugram',
 '3-5 Yrs',
 'Not disclosed',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 '0-5 Yrs',
 'Not disclosed',
 'New Delhi',
 '5-8 Yrs',
 'Not disclosed',
 'New Delhi',
 '3-5 Yrs',
 'Not disclosed',
 'Noida',
 '4-7 Yrs',
 'Not disclosed',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 '1-5 Yrs',
 'Not disclosed',
 'Delhi',
 '2-6 Yrs',
 'Not disclosed',
 'New Delhi',
 '2-6 Yrs',
 'Not disclosed',
 'Delhi',
 '3-6 Yrs',
 'Not disclosed',
 'Noida',
 '1-5 Yrs',
 'Not disclosed',
 'New Delhi',
 '2-5 Yrs',
 'Not disclosed',
 'Gurgaon/Gurugram, Delhi / NCR']

In [45]:
refined_location = []

for j in range(2,len(job_location),3):
    refined_location.append(job_location[j])
    experience_required.append(job_location[j-2])

['0-3 Yrs',
 '0-5 Yrs',
 '2-6 Yrs',
 '0-0 Yrs',
 '3-7 Yrs',
 '3-7 Yrs',
 '1-3 Yrs',
 '2-6 Yrs',
 '2-4 Yrs',
 '3-5 Yrs',
 '0-5 Yrs',
 '5-8 Yrs',
 '3-5 Yrs',
 '4-7 Yrs',
 '1-5 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '3-6 Yrs',
 '1-5 Yrs',
 '2-5 Yrs']

In [46]:
company = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

for i in company:
    company_name.append(i.text)
company_name

['Inflexion Analytix Private Limited',
 'TalkValley LLC',
 'TalPro',
 'GABA Consultancy services',
 'Fractal Analytics',
 'BlackBuck',
 'Country Veggie',
 'TalPro',
 'TalPro',
 'CES Ltd.',
 'Chaayos (Sunshine Teahouse Pvt. Ltd.)',
 'CHANGE LEADERS CONSULTING',
 'Acidaes Solutions Pvt. Ltd.',
 'RANDSTAD INDIA PVT LTD',
 'iNICU',
 'Mahajan Imaging',
 'Mahajan Imaging',
 'Right Step Consulting',
 'Blow Trumpet Solutions',
 'Milliman India Pvt Ltd']

In [47]:
#### Creating a Data Frame
filter_scrap = pd.DataFrame({})
filter_scrap['job_title'] = job_title [:10]
filter_scrap['location'] = refined_location[:10]
filter_scrap['experience_required'] = experience_required[:10]
filter_scrap['company_name'] = company_name[:10]
filter_scrap.head()

,job_title,location,experience_required,company_name
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs,Inflexion Analytix Private Limited
1,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",0-5 Yrs,TalkValley LLC
2,Data Scientist - Machine Learning/ NLP,Gurgaon/Gurugram,2-6 Yrs,TalPro
3,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Gurgaon/Gurugram, Delhi / NCR",0-0 Yrs,GABA Consultancy services
4,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",3-7 Yrs,Fractal Analytics

#### Question 4

In [2]:
driver = webdriver.Chrome(r'C:\Users\LENOVO\Documents\Post Graduation\chromedriver.exe')

In [3]:
url = 'https://www.glassdoor.co.in/index.htm'
driver.get(url)

#### Entering the Keys

In [12]:
key1 = driver.find_element_by_xpath('//button[@class="d-none d-lg-block p-0 LockedHomeHeaderStyles__signInButton"]')
key1.click()
time.sleep(2)
key2 =  driver.find_element_by_id('userEmail')
key2.send_keys('chethanbk393@gmail.com')
time.sleep(2)
key3 = driver.find_element_by_id('userPassword')
key3.send_keys('Alpha123')
clk1 = driver.find_element_by_xpath('//button[@class="gd-ui-button minWidthBtn css-8i7bc2"]')
clk1.click()

In [13]:
key4 = driver.find_element_by_id('sc.keyword')
key4.send_keys('Data Scientist')

In [14]:
from selenium.webdriver.common.keys import Keys
key4 = driver.find_element_by_id('sc.location')
key4.send_keys(Keys.CONTROL,'a')
key4.send_keys(Keys.BACKSPACE)
time.sleep(1)
key4.send_keys('Noida')

#### Search Click

In [15]:
clk1 = driver.find_element_by_xpath('//button[@class="gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr"]')
clk1.click()

#### Closing the pop up

In [17]:
try:
    ad = driver.find_element_by_xpath('/html/body/div[8]/div/div[2]/span')
    ad.click()
except:
    pass

In [18]:
company_name = [] 
posted = []
Rating_company = []

company = driver.find_elements_by_xpath('//a[@class=" css-l2wjgv e1n63ojh0 jobLink"]')
for i in company:
    company_name.append(i.text)

time.sleep(5)

post = driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]')

for i in post:
    posted.append(i.text)
    
time.sleep(5)

rating = driver.find_elements_by_xpath('//span[@class="css-19pjha7 e1cjmv6j1"]')
for i in rating:
    Rating_company.append(i.text)

#### Creating a Data Set

In [19]:
glass_door = pd.DataFrame({})
glass_door['company_name'] = company_name [:10]
glass_door['posted'] = posted[:10]
glass_door['Rating_company'] = Rating_company[:10]
glass_door.head()

               company_name posted Rating_company
0                  Ericsson     1d            4.1
1  Scymes Services Pvt. ltd    24h            3.8
2     Ginger Webs Pvt. Ltd.    21d            3.0
3                     Crowe    30d            3.9
4        Algo8 AI Pvt. Ltd.    14d            3.8

#### Question 5

In [20]:
driver = webdriver.Chrome(r'C:\Users\LENOVO\Documents\Post Graduation\chromedriver.exe')

#### getting the webpage

In [21]:
url = 'https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

#### Enter “Data Scientist” in Job title field and “Noida” in location field.

In [22]:
key = driver.find_element_by_id('KeywordSearch')
key.send_keys('Data Scientist')
keys = driver.find_element_by_id('LocationSearch')
keys.send_keys(Keys.CONTROL,'a')
keys.send_keys(Keys.BACKSPACE)
keys.send_keys('Noida')

#### Click the search button.

In [23]:
clk = driver.find_element_by_xpath('//button[@class="gd-btn-mkt"]')
clk.click()

WebDriverException: Message: chrome not reachable
  (Session info: chrome=91.0.4472.124)

#### I had to login so using the below code to do so

In [ ]:
key1 = driver.find_element_by_xpath('//div[@class="center description py-xsm "]/a')
key1.click()
time.sleep(2)
key2 =  driver.find_element_by_id('userEmail')
time.sleep(1)
key2.send_keys('chethanbk393@gmail.com')
time.sleep(2)
key3 = driver.find_element_by_id('userPassword')
key3.send_keys('Alpha123')
clk1 = driver.find_element_by_xpath('//button[@class="gd-ui-button minWidthBtn css-8i7bc2"]')
clk1.click()

#### Scraping the necessary Data

In [81]:

min_salary = []
max_salary = []
company_name = []
avg_salary = []
comp_rating = []

sal = driver.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]/p[1]')

for i in sal:
    min_salary.append(i.text.replace('₹',''))
    
time.sleep(2)

sal2 = driver.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]/p[2]')

for i in sal2:
    max_salary.append(i.text.replace('₹',''))
    
time.sleep(2)

name = driver.find_elements_by_xpath('//a[@class="css-f3vw95 e1aj7ssy3"]')

for i in name:
    company_name.append(i.text)

time.sleep(2)

avg = driver.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]/h3')

for i in avg:
    avg_salary.append(i.text.replace('₹','').replace(',',''))

time.sleep(2)

comp = driver.find_elements_by_xpath('//div[@class="d-flex align-items-center mt-xxsm"]/span[1]')

for i in comp:
    comp_rating.append(i.text)

#### Creating a Data Frame

In [146]:
Sal_range = pd.DataFrame({})
Sal_range['min_salary']= min_salary[:10]
Sal_range['max_salary']= max_salary[:10]
Sal_range['company_name']=company_name[:10]
Sal_range['avg_salary']=avg_salary[:10]
Sal_range['comp_rating']=comp_rating[:10]
Sal_range

NameError: name 'min_salary' is not defined

#### Question 6

In [59]:
from selenium.webdriver.common.keys import Keys
driver = webdriver.Chrome(r'C:\Users\LENOVO\Documents\Post Graduation\chromedriver.exe')

#### Entering the website

In [60]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [61]:
btn = driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
btn.click()

#### Entering sunglasses and Clicking on Search

In [62]:
srch = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
srch.send_keys('sunglasses')
srch1 = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
srch1.click()

#### Scraping necessary data

In [63]:
url = []
Brand = []
Price = []

for i in range(0,4):
    
    br = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    des = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    pri = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

    for i in br:
        Brand.append(i.text)
    time.sleep(3)
    for i in pri:
        Price.append(i.text.replace('₹',''))
    time.sleep(3)
    nxt_page = driver.find_elements_by_xpath('//a[@class="_1LKTO3"]')
    try:
        driver.get(nxt_page[1].get_attribute('href'))
    except:
        driver.get(nxt_page[0].get_attribute('href'))

In [64]:
print(len(Brand),len(Price))

160 0 160

In [65]:
back = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
back.click()

In [66]:
product_url = []

for i in range(0,3):
    url = driver.find_elements_by_xpath('//a[@class="_2UzuFa"]')
    for j in url:
        product_url.append(j.get_attribute('href'))
    nxt_page = driver.find_elements_by_xpath('//a[@class="_1LKTO3"]')
    try:   
        driver.get(nxt_page[1].get_attribute('href'))
    except:
        driver.get(nxt_page[0].get_attribute('href'))       
time.sleep(5)

In [74]:
Description = []
Discount_perc= []

for i in product_url:
    driver.get(i)
    try:
        desc = driver.find_element_by_xpath('//span[@class="B_NuCI"]')
        disc = driver.find_element_by_xpath('//div[@class="_3Ay6Sb _31Dcoz pZkvcx"]//span')
        Discount_perc.append(disc.text)
        Description.append(desc.text)
        time.sleep(2)
    except NoSuchElementException:
        Discount_perc.append('NA')
        Description.append('NA')
    time.sleep(3)

In [76]:
print(len(Description), len(Discount_perc))

120 120

#### Creating a data frame

In [77]:
sunglasses = pd.DataFrame({})
sunglasses['Brand'] = Brand[:100]
sunglasses['Description'] = Description[:100]
sunglasses['Price']  = Price[:100]
sunglasses['Discount_perc'] = Discount_perc[:100]
sunglasses.tail()

,Brand,Description,Price,Discount_perc
95,NuVew,"Polarized, UV Protection Rectangular Sunglasse...",248,55% off
96,PIRASO,UV Protection Wayfarer Sunglasses (32) (For M...,250,84% off
97,Fravy,"UV Protection, Gradient, Night Vision Retro Sq...",339,83% off
98,Fastrack,Gradient Round Sunglasses (Free Size) (For Wo...,"1,462",26% off
99,ROZZETTA CRAFT,"UV Protection, Gradient Wayfarer Sunglasses (5...",399,70% off

#### Question 7

In [36]:
driver = webdriver.Chrome(r'C:\Users\LENOVO\Documents\Post Graduation\chromedriver.exe')

In [37]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [38]:
all_rev = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div/span')
all_rev.click()

In [138]:
from selenium.common.exceptions import StaleElementReferenceException

In [40]:
#### Scraping data out of pages
rating = [] 
review_summary = []
full_review = []


for page in range(1,12):
        
    rat = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    rev = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    frev = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

    for k in rat:
        rating.append(k.text)

    for i in rev:
        review_summary.append(i.text)

    for j in frev:
        full_review.append(j.text)
    time.sleep(3)

    print(len(review_summary))

    nxt_page = driver.find_elements_by_xpath('//a[@class="_1LKTO3"]')
    try:
        driver.get(nxt_page[1].get_attribute('href'))
    except:
        driver.get(nxt_page[0].get_attribute('href'))

10
20
30
40
50
60
70
80
90
100
110

#### Creating a dataframe

In [41]:
review = pd.DataFrame({})
review['rating'] = rating[:100]
review['review_summary'] = review_summary[:100] 
review['full_review'] = full_review[:100]
review.tail()

,rating,review_summary,full_review
95,4,Best in the market!,The best all rounder iphone. Flipkart is doing...
96,4,Brilliant,A wort full value for money decision it’s . Si...
97,4,Wonderful,I genuinely liked it. One of the best mobile p...
98,5,Nice product,If you are looking for a premium phone under 5...
99,5,Good quality product,"Awesome camera, smooth and fast UI, display is..."

#### Question 9

In [126]:
driver = webdriver.Chrome(r'C:\Users\LENOVO\Documents\Post Graduation\chromedriver.exe')

#### Getting the URL

In [127]:
url = 'https://www.myntra.com/shoes'
driver.get(url)

#### Selecting the filter

In [128]:
f2 = driver.find_element_by_xpath('//label[text() = "Black"]')
f2.click()

In [129]:
f1 =  driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
f1.click()

#### Getting URLs to scrape the necessary data

In [130]:
urls = []
for i in range(1,3):
    url = driver.find_elements_by_xpath('//ul[@class="results-base"]/li/a')
    for j in url:
        urls.append(j.get_attribute('href'))
    nxt_page = driver.find_element_by_xpath('//li[@class="pagination-next"]/a')
    driver.get(nxt_page.get_attribute('href'))
time.sleep(3)

In [131]:
len(urls)

100

#### Scraping data from each URLs

In [132]:
brand = []
description = []
price = []
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        br = driver.find_element_by_xpath('//h1[@class="pdp-title"]')
        des = driver.find_element_by_xpath('//h1[@class="pdp-name"]')
        pri = driver.find_element_by_xpath('//span[@class="pdp-price"]')

        brand.append(br.text)
        time.sleep(2)
        description.append(des.text)
        time.sleep(2)
        price.append(pri.text)
        time.sleep(2)
    except NoSuchElementException:
        brand.append('NA')
        description.append('NA')
        price.append('NA')
        time.sleep(2)

#### Creating a DataFrame

In [137]:
shoes = pd.DataFrame({})
shoes['brand'] = brand
shoes['description'] = description
shoes['price'] = price
shoes.head()

  brand                                    description      price
0  Nike  Men Black AIR ZOOM STRUCTURE 23 Running Shoes   Rs. 8236
1  ALDO                             Men Black Sneakers   Rs. 9999
2  ALDO                             Men Black Sneakers   Rs. 9999
3  ALDO                        Men Black Driving Shoes  Rs. 11999
4  Nike    Men Black AIR ZOOM PEGASUS 37 Running Shoes  Rs. 11495

#### Question 8

In [138]:
driver = webdriver.Chrome(r'C:\Users\LENOVO\Documents\Post Graduation\chromedriver.exe')

In [139]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [140]:
btn  = driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
btn.click()

#### Searching for sneakers

In [141]:
src = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
src.send_keys('sneakers')

#### Click on Search

In [143]:
clk = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
clk.click()

#### getting the URL

In [145]:
url = []

for i in range(0,4):
    lnk = driver.find_elements_by_xpath('//a[@class="_2UzuFa"]')
    for j in lnk:
        url.append(j.get_attribute('href'))
    nxt_page = driver.find_elements_by_xpath('//a[@class="_1LKTO3"]')
    try:
        driver.get(nxt_page[1].get_attribute('href'))
    except:
        driver.get(nxt_page[0].get_attribute('href'))
time.sleep(3)
len(url)

160

#### scrapping necessary data

In [158]:
brand = []
product_description = []
price = []
discount = []
for i in url:
    driver.get(i)
    br = driver.find_element_by_xpath('//span[@class="G6XhRU"]')
    des = driver.find_element_by_xpath('//span[@class="B_NuCI"]')
    prc = driver.find_element_by_xpath('//div[@class="_30jeq3 _16Jk6d"]')
    
    brand.append(br.text)
    time.sleep(2)
    product_description.append(des.text)
    time.sleep(2)
    price.append(prc.text.replace('₹',''))

    try:
        disc =  driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div[3]/div[1]/div/div[3]/span')
        
        discount.append(disc.text)
        time.sleep(2)
    except NoSuchElementException:
        discount.append('NA')
        time.sleep(3)

#### Creating a Data Frame

In [164]:
sneakers = pd.DataFrame({})
sneakers['brand'] = brand[:100]
sneakers['product_descrption'] = product_description[:100]
sneakers['price'] = price[:100]
sneakers['discount'] = discount[:100]
sneakers.shape

(160, 4)

#### Question 10

In [219]:
driver = webdriver.Chrome(r'C:\Users\LENOVO\Documents\Post Graduation\chromedriver.exe')

In [220]:
url = 'https://www.amazon.in/'
driver.get(url)

In [221]:
inp = driver.find_element_by_id('twotabsearchtextbox')
inp.send_keys('Laptop')

In [222]:
srch = driver.find_element_by_id('nav-search-submit-button')
srch.click()

In [223]:
fil1 = driver.find_element_by_xpath('//span[text() = "Intel Core i5"]')
fil1.click()
fil1 = driver.find_element_by_xpath('//span[text() = "Intel Core i7"]')
fil1.click()

In [224]:
url = []

lnk = driver.find_elements_by_xpath('//a[@class="a-link-normal a-text-normal"]')

for i in lnk:
    url.append(i.get_attribute('href'))

In [225]:
title = []
Price = []

for i in url:
    driver.get(i)
    try:
        tit =  driver.find_element_by_xpath('//span[@class="a-size-large product-title-word-break"]')
        pri = driver.find_element_by_xpath('//span[@class="a-size-medium a-color-price priceBlockBuyingPriceString"]')
        title.append(tit.text)
        time.sleep(3)
        Price.append(pri.text)
        time.sleep(3)
    except NoSuchElementException:
        Price.append('NA')

In [232]:
print(len(Price))

30

In [227]:
Ratings = []
for j in url:
    driver.get(j)
    try:
        rat = driver.find_element_by_xpath('//span[@class="a-size-medium a-color-base"]')        
        Ratings.append(rat.text)
        time.sleep(2)
    except NoSuchElementException:
        Ratings.append('NA')

In [230]:
len(Ratings)

30

In [234]:
amazon = pd.DataFrame({})
amazon['title'] = title[:10]
amazon['Price'] = Price[:10]
amazon['Ratings'] = Ratings[:10]
amazon.shape

(10, 3)